In [1]:
print("Hola mundo")

Hola mundo

In [2]:
x='hola'
x

'hola'

In [11]:
x= int (input ("ingrese un valor: "))
x=x*2
print(f"el el doble es {x}")

ingrese un valor: 4
el el doble es 8

In [13]:
x= int (input ("ingrese un valor: "))
y= int (input ("ingrese otrr valor: "))
z=x+y
print(f"el valor de la suma es {z}")

ingrese un valor: 1
ingrese otrr valor: 8
el valor de la suma es 9

In [15]:
C=[1,2,3,4,5]
print(f"el primer valor es {C[0]} y {C[-1]}")

el primer valor es 1 y 5

In [16]:
x= int (input ("ingrese un valor: "))
if x%2==0:
  print(f"el valor {x}  es par")
else:
   print(f"el valor {x} no es par")

ingrese un valor: 4
el valor 4  es par

In [18]:
for x in range(11):
  print(f"{x}")

0
1
2
3
4
5
6
7
8
9
10

In [23]:
x=100
y=(100*(100+1))/2
y

5050.0

In [26]:
def x(s):
  y=s**2
  return y

In [27]:
x(4)

16

In [134]:
vocales= "aeiouAEIOU"
x='hola mundo'
cont=0
for char in x:
  if char in vocales:
    cont+=1
print(f"El número de vocales es: {cont}")

El número de vocales es: 4

In [44]:
list(x)

['h', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o']

In [54]:
print(f"{x[1]} {x[3]} {x[6]} {x[9]}")

o a u o

In [62]:
C=[1,2,3,4,5,6,7,8,9,10]
for i in range (len(C)):
  if C[i]%2==0:
    print (f"{C[i]}")

2
4
6
8
10

In [63]:
class Persona:
  def __init__(self, nombre, edad):
    self.nombre=nombre
    self.edad=edad

  def Nombre(self):
    print(f"mi nombre es {self.nombre}")
  def Edad(self):
       print(f"mi edad es {self.edad}")

In [69]:
Persona1=Persona('Kevin', 19)
Persona1.Nombre()

mi nombre es Kevin

In [70]:
Persona1.Edad()

mi edad es 19

In [74]:
Persona2=Persona('Andres', 23)
print(f" el nombre es {Persona2.Nombre()} y tengo {Persona2.Edad()} años")

mi nombre es Andres
mi edad es 23
 el nombre es None y tengo None años

In [91]:
C=[1,2,3,4,7,40,50,11]
for i in range (7):
  if C[i]<C[i+1]:
   for z in range (7):
      C[z]>C[z+1]
      x=C[z]
      C[z]=C[z+1]
      C[z+1]=x
  else:
   print(f"{x}")

3
3

In [123]:
A=[4,5,8,7,9]
acum=0
for i in range(len(A)):
  acum=acum+A[i]

In [127]:
y=acum/len(A)
y

6.6

In [137]:
x='ana'
list(x)

['a', 'n', 'a']

In [138]:
if (x[0]==x[-1]):
 print("La palabra es un palíndromo")
else:
  print("No lo es")

La palabra es un palíndromo

In [141]:
def a_b(x,y):
 if x>y:
  print(f"{x} es el mayor")
 else:
  print(f"{y} es el mayor")

In [142]:
a_b(7,8)

8 es el mayor

In [149]:
x= int(input("ingrese el valor de la tabla: "))
for i in range(11):
 y=x*i
 print (f"{y}")

ingrese el valor de la tabla: 5
0
5
10
15
20
25
30
35
40
45
50

In [175]:
def primos(x):
  for i in range(x):
   if i%2!=0 and i%3!=0 and i/1==i and i/i==1:
    print(f"{i}")

In [177]:
primos(15)

1
5
7
11
13